{% extends "base.html" %}
{% block content %}

    <style>
        .project-status {
            width: 100%;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }

        .project-title {
            width: 100%;
            text-align: center;
            font-size: 24px;
            text-transform: uppercase;
            padding-bottom: 40px;
        }

    </style>
    <div class="container">
        <h2><a href="{% url 'project-vote-projects' %}">Список проектов</a></h2>

        <div class="project-status">
            {% if voted %}
                Извините, но вы уже голосовали по этому проекту ранее
            {% else %}
                Спасибо за ваш голос!
            {% endif %}
        </div>
        <div class="project-title">
            <a href="{% url 'project-vote' project.id %}">Вернуться к проекту</a>
        </div>

    </div>

{% endblock %}