<style>
    body {
        font-size: 12px;
        text-align: justify;
    }
    .title {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    .table-info {
        margin-top: 16px;
        width: 100%;
    }
    .table-sign {
        width: 100%;
    }
    .table-sign td {
        width: 150px;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
    }
    .box {
        border: 1px solid black;
        height: 40px;
    }
    .date-box {
        border: 1px solid black;
        width: 80px;
        height: 20px;
        padding-top: 6px;
    }
    .table-date td {
        text-align: center;
    }
</style>
<body>
    <h4>№ {{project.id|cut:" " }}</h4>
<div class="title">
    ЗАЯВКА НА УЧАСТИЕ В КОНКУРСЕ НА ПРЕДОСТАВЛЕНИЕ 
    ГРАНТОВ ГЛАВЫ РЕСПУБЛИКИ САХА (ЯКУТИЯ) НА РАЗВИТИЕ ГРАЖДАНСКОГО ОБЩЕСТВА В РЕСПУБЛИКЕ САХА (ЯКУТИЯ)
</div>
<table class="table-info">
    <tr>
        <td>ОГРН: {{ project.organization.ogrn }}</td> <td>ИНН: {{ project.organization.inn }}</td>
    </tr>
</table>
представляет заявку на участия в конкурсе на предоставление грантов Главы Республики Саха (Якутия) на развитие
гражданского общества в Республике Саха (Якутия) (далее – конкурс), заполненную в электронной форме на цифровой
аналитической платформе «One Click Yakutia» по адресу: grants.yakutia.click с использованием для работы на
указанном сайте имени: {{user.username}}

<table class="table-info">
    <tr>
        <td>Название проекта, на реализацию которого запрашивается грант</td> <td>{{ project.title }}</td>
    </tr>
    <tr>
        <td>Грантовое направление, которому
            преимущественно соответствует планируемая
            деятельность по проекту</td> <td>{{ project.direction }}</td>
    </tr>
    <tr>
        <td>Общая сумма расходов на реализацию проекта (в рублях)</td> <td>{{ project.budget_sum }}</td>
    </tr>
    <tr>
        <td>Запрашиваемая сумма гранта (в рублях)</td> <td>{{ project.budget_request_sum }}</td>
    </tr>
    <tr>
        <td>Краткое описание проекта, на реализацию которого запрашивается грант Главы Республики Саха (Якутия)
            на развитие гражданского общества в Республике Саха (Якутия).:</td>
        <td>{{ project.description }}</td>
    </tr>
</table>
    <p>От имени: {{ project.organization.full_name }},</p>

    <p>ОГРН: {{ project.organization.ogrn }} ИНН: {{ project.organization.inn }}</p>
<p>
(далее – участник конкурса) подписываю и подаю в Министерство по делам молодежи и социальным коммуникациям
Республики Саха (Якутия) (далее – уполномоченный орган) настоящую заявку, подтверждаю корректность приведенной
информации и даю согласие на публикацию (размещение) в информационно-телекоммуникационной сети «Интернет»
информации об участнике отбора, о подаваемом участником отбора заявке, иной информации об участнике отбора,
связанной с соответствующим отбором на размещение ее для всеобщего сведения на цифровой аналитической платформе
«One Click Yakutia» по адресу: grants.yakutia.click, других сайтах в сети «Интернет» и в средствах массовой информации.
<br>
Подписанием настоящего документа подтверждаю (даю заверение о следующих обстоятельствах):
</p>
<ul>
    <li>согласие с условиями и порядком проведения конкурса, которые определены Указом Главы Республики Саха (Якутия) от 20.04.2020 г. № 1127 «О грантах Главы Республики Саха (Якутия) на развитие гражданского общества в Республике Саха (Якутия) (далее – Порядок предоставления грантов);</li>
    <li>актуальность и достоверность информации, представленной в составе настоящей заявки (посредством заполнения электронных форм на цифровой аналитической платформе «One Click Yakutia» по адресу: grants.yakutia.click); </li>
    <li>отсутствие в представленном на конкурс настоящей заявкой проекте мероприятий, осуществление которых нарушает требования законодательства;</li>
    <li>отсутствие сведений на момент подачи заявки в реестре дисквалифицированных лиц о дисквалифицированных руководителе, членах коллегиального исполнительного органа, лице, исполняющем функции единоличного исполнительного органа, или главном бухгалтере участника конкурса;</li>
    <li>участник конкурса на момент подачи заявки не является иностранным юридическим лицом, а также российским юридическим лицом, в уставном (складочном) капитале которого доля участия иностранных юридических лиц, местом регистрации которых является государство или территория, включенное в утверждаемый Министерством финансов Российской Федерации перечень государств и территорий, предоставляющих льготный налоговый режим налогообложения и (или) не предусматривающих раскрытия и предоставления информации при проведении финансовых операций (офшорные зоны), в совокупности превышает 50 процентов; </li>
    <li>участник конкурса не получает в текущем финансовом году средства из государственного бюджета Республики Саха (Якутия) на цели, установленные пунктом 1.4. Порядка предоставления грантов; </li>
    <li>у участника конкурса на момент подачи заявки отсутствует просроченная задолженность по возврату в государственный бюджет Республики Саха (Якутия) субсидий, бюджетных инвестиций, предоставленных, в том числе в соответствии с иными правовыми актами, а также иная просроченная (неурегулированная) задолженность по денежным обязательствам перед Республикой Саха (Якутия).</li>
    <li>участник конкурса обязуется включить в соглашение о предоставлении грантов согласие на осуществление уполномоченным органом, предоставляющим гранты, и органом государственного финансового контроля Республики Саха (Якутия) обязательной проверки соблюдения условий, целей и порядка предоставления грантов их получателями и соблюдении запрета приобретения за счет средств грантов иностранной валюты, за исключением операций, осуществляемых в соответствии с валютным законодательством Российской Федерации при закупке (поставке) высокотехнологичного импортного оборудования, сырья и комплектующих изделий, а также связанных с достижением целей предоставления этих средств иных операций, определенных порядком предоставления грантов;</li>
    <li>участник конкурса подтверждает о согласии, а также о согласии лиц, получающих средства на основании договоров, заключенных с получателями грантов (за исключением государственных (муниципальных) унитарных предприятий, хозяйственных товариществ и обществ с участием публично-правовых образований в их уставных (складочных) капиталах, а также коммерческих организаций с участием таких товариществ и обществ в их уставных (складочных) капиталах), на осуществление в отношении них проверки уполномоченным органом как получателем бюджетных средств и органом государственного финансового контроля Республики Саха (Якутия) за соблюдением целей, условий и порядка предоставления грантов, а также ответственности за их нарушение;</li>
    <li>участник конкурса обязуется достичь стопроцентное достижение значений показателей и результатов: количество благополучателей проекта, а также дополнительных показателей и результатов, установленных соглашением, указанные в заявке, необходимые для достижения целей реализации проекта. </li>
    <li>участник конкурса подписанием настоящей заявки подтверждает о согласии на обработку персональных данных руководителя и участников проекта, указанных в заявке на предоставление грантов </li>
</ul>

<table class="table-sign">
    <tr>
        <td width="25"><div class="box"></div></td>
        <td><div class="box"></div></td>
        <td><div class="box"></div></td>
        <td><div class="box"></div></td>
    </tr>

    <tr>
        <td>ЛИЧНАЯ ПОДПИСЬ</td>
        <td>ФАМИЛИЯ</td>
        <td>ИМЯ</td>
        <td>ОТЧЕСТВО</td>
    </tr>
    <tr>
        <td> </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<table class="table-stamp">
    <tr>
        <td style="width: 25%; text-align: center;">место для печати</td>
        <td>
            <b>руководителя организации</b> (лица, имеющего право действовать от имени организации без доверенности или
наделенного полномочиями на подачу заявки от имени организации на основании доверенности), указываются
собственноручно
        </td>
    </tr>
</table>
<p>Дата подписания заявки:</p>
<table class="table-date">
    <tr>
        <td><div class="date-box">{% now "d" %}</div></td>
        <td><div class="date-box">{% now "E" %}</div></td>
        <td><div class="date-box">{% now "Y" %}</div></td>
    </tr>
    <tr>
        <td>день</td>
        <td>месяц</td>
        <td>год</td>
    </tr>
</table>
<br>
Настоящая заявка подается посредством загрузки электронной (отсканированной) копии настоящего документа через
портал OneClickYakutia и последующего подтверждения подачи заявки на указанном сайте.
</body>