<h4>План подготовки и реализации проекта</h4>
<p>Следует перечислить все мероприятия в рамках проекта, которые запланированы для выполнения каждой из
    поставленных задач и достижения цели проекта.</p>

В каждом мероприятии должны быть:
<ul>
    <li>Содержание и место проведения — подробная информация о том, что именно будет происходить, для
        какой
        целевой группы это предназначено, а также сведения о том, где конкретно будет проведено
        мероприятие.
        Если в проекте несколько целевых групп, то мероприятия должны быть предусмотрены для каждой из
        них.
    </li>
    <li>Время проведения — в какой конкретно временной период будет проходить мероприятие. Не
        рекомендуется
        указывать в качестве времени проведения мероприятия «в течение всего проекта».</li>
    <li>Ожидаемый результат — это ответы на вопросы «Что будет сделано? Сколько?», «Что изменится?
        Как?»,
        «Запланировано ли участие представителей целевых групп и в каком количестве?».</li>
</ul>

<plantable v-model="project.events" :jobs="project.jobs">

</plantable>