{% verbatim %}


<label for="exampleInputEmail1">Сообщение</label>
<textarea class="form-control" aria-label="With textarea" v-model="create_messege_json.messege"></textarea>
<div class="mb-3">
  <label for="formFileSm" class="form-label">Small file input example</label>
  <input class="form-control form-control-sm" id="formFileSm" @change="upload_dialog_file" ref="file" type="file">
</div>
<button class="btn btn-dark pull-right" v-on:click="create_messege">Отправить</button>

<div v-for="(value, key, index) in chat_messeges">

  <div v-if="value.author_id == profile_json.id">



    <a :href="'http://localhost:8000/media/' + value.user_file" class="list-group-item list-group-item-action ml-auto" style="width: 500px; margin-top: 10px; border-radius: 5px;">
      <div class="d-flex w-100 justify-content-between">
        <small class="text-muted">Вы</small>
        
        <small class="text-muted">20-05-2022 22:12</small>
      </div>
      <h5 class="mb-1">{{value.messege}}</h5>
      <p v-if="value.user_file" class="mb-1"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Edge-gtk-new.svg/120px-Edge-gtk-new.svg.png" height="30px" alt=""> {{value.user_file}}</p>
     
    </a>
  </div>
  <div v-else>

    <label for="exampleInputEmail1">Лицо</label>
    <textarea class="form-control " aria-label="With textarea" style="width:200px" disabled>{{value.messege}}</textarea>
    <p>Время:{{value.create_time}}</p>
  </div>


</div>

{% endverbatim %}