{% verbatim %}


<label for="exampleInputEmail1">Сообщение</label>
<textarea class="form-control" aria-label="With textarea" v-model="create_messege_json.messege"></textarea>
<div class="mb-3">
  <label for="formFileSm" class="form-label">Small file input example</label>
  <input class="form-control form-control-sm" id="formFileSm" @change="upload_dialog_file" ref="file" type="file">
</div>
<button class="btn btn-dark pull-right" v-on:click="create_messege">Отправить</button>

<div v-for="(value, key, index) in chat_messeges">

  <div v-if="value.author_id == profile_json.id">

    <p class="text-end">Вы</p>
    <textarea class="form-control ml-auto" aria-label="With textarea" style="width:300px" disabled>{{value.messege}}</textarea>


    <p v-if="value.user_file" class="text-end">
      Файл: {{value.user_file}}<br>
     <a :href="'http://localhost:8000/media/' + value.user_file"><img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Edge-gtk-new.svg/120px-Edge-gtk-new.svg.png" alt=""></a> 

    </p>
  
    

  

    <p class="text-end">Время:{{value.create_time}}</p>
  </div>
  <div v-else>

    <label for="exampleInputEmail1">Лицо</label>
    <textarea class="form-control " aria-label="With textarea" style="width:200px" disabled>{{value.messege}}</textarea>
    <p>Время:{{value.create_time}}</p>
  </div>


</div>

{% endverbatim %}