<!--Об успешном создании modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
    
        <div class="modal-body">
          <div class="alert alert-success" role="alert">
            Заявление зарегистрировано
          </div>
          

          <div class="d-flex justify-content-center" style="margin-top: 1%;">
            <button type="button"  class="btn btn-success" data-bs-dismiss="modal">Закрыть</button>
            
          </div>
        </div>
    
      </div>
    </div>
  </div>
<!--Об успешном создании modal end-->