{% verbatim %}

<!--Об успехе modal-->
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
    
        <div class="modal-body">
          <div class="alert alert-success" role="alert">
            {{ modаl_messege }}
          </div>
          

          <div class="d-flex justify-content-center" style="margin-top: 1%;">
            <button type="button"  class="btn btn-success" data-bs-dismiss="modal">Закрыть</button>
            
          </div>
        </div>
    
      </div>
    </div>
  </div>
<!--end Об успехе modal--->

<!--Об неуспешной modal-->
  <div class="modal fade" id="auth_eModal" tabindex="-1" aria-labelledby="auth_eModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
    
        <div class="modal-body">
          <div class="alert alert-danger" role="alert">
            {{ modаl_messege }}
          </div>
          

          <div class="d-flex justify-content-center" style="margin-top: 1%;">
            <button type="button"  class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
            
          </div>
        </div>
    
      </div>
    </div>
  </div>
<!--end Об неуспешной modal-->
{% endverbatim %}