{% verbatim %}
    

    <label for="exampleInputEmail1">Наименование МР/ГО</label>
    <input type="text" class="form-control" placeholder="Введите данные" v-model="profile_json.mr_go_name">

    <label for="exampleInputEmail1">ФИО лица, имеющего право подписи без доверенности</label>
    <input type="text" class="form-control" placeholder="Введите данные" v-model="profile_json.sec_fio">

    <label for="exampleInputEmail1">ФИО ответственного специалиста по взаимодействию с уполномоченным органом</label>
    <input type="text" class="form-control" placeholder="Введите данные" v-model="profile_json.main_fio">

    <label for="exampleInputEmail1">Адрес электронной почты для направления юридически значимых документов</label>
    <input type="text" class="form-control" placeholder="Введите данные" v-model="profile_json.mail_jur">

    <label for="exampleInputEmail1">Контактный телефон</label>
    <input type="text" class="form-control" placeholder="Введите данные" v-model="profile_json.phone_2">

    <label for="exampleInputEmail1">ОГРН организации</label>
    <input type="text" class="form-control" placeholder="Введите данные" v-model="profile_json.ogrn">

    <label for="exampleInputEmail1">ИНН организации</label>
    <input type="text" class="form-control" placeholder="Введите данные" v-model="profile_json.inn">

    <label for="exampleInputEmail1">Юридический адрес</label>
    <input type="text" class="form-control" placeholder="Введите данные" v-model="profile_json.jur_adrs">

    <label for="exampleInputEmail1">Банковские реквизиты</label>
    <input type="text" class="form-control" placeholder="Введите данные" v-model="profile_json.bank_data">

    
{% endverbatim %} 

 