{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                {% include "profile/side.html" %}
            </div>
            <div class="col-sm-10">
                <h2>Оценочный лист</h2>
                Проект: {{ score_sheet.project.title }} <br>
                Стоимость проекта: {{ score_sheet.project.budget_sum }} <br>
                Запрашиваемая сумма: {{ score_sheet.project.budget_request_sum }}
                {% include 'expert/_score-sheet-form.html' %}
            </div>
        </div>
    </div>

{% endblock %}