{% extends "base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load auth_extras %}
    {% load static %}
    {% load notifications_tags %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                {% include "profile/side.html" %}
            </div>

            <div class="col-sm-10">
                <h2>Уведомления</h2>
                <br><br>
                {% for notify in unread %}
                    <div class="read-notify-item">
                        {{ notify.timestamp }}  <strong>{{ notify.verb }}</strong>
                    </div>
                {% endfor %}
                <hr>
                {% for notify in read %}
                    <div class="unread-notify-item">
                        {{ notify.timestamp }} {{ notify.verb }}
                        {% if notify.action_object %}
                            <a href="{% url 'user-view-project' notify.action_object.id  %}"> Открыть заявку </a>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}