{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load auth_extras %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            {% include "profile/side.html" %}
        </div>

        <div  class="col-sm-10">
            <h2>Профиль</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li  {% if message.tags %} class="text-{{ message.tags }}" {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
            <form method="post" id="profileForm" novalidate>
                {% csrf_token %}
                {{ user_form.first_name|as_crispy_field }}
                {{ user_form.last_name|as_crispy_field }}
                {{ profile_form.middle_name|as_crispy_field }}

                {{ profile_form.sex|as_crispy_field }}
                {{ profile_form.email|as_crispy_field}}
                {{ profile_form.work_phone|as_crispy_field }}
                {{ profile_form.phone|as_crispy_field }}

                {{ profile_form.education|as_crispy_field }}

                <div>
                    <h4>Мои направления</h4>
                    <ol>
                    {% for d in  profile_form.instance.directions.all %}
                        <li>{{ d.title }}</li>
                    {% endfor %}
                    </ol>
                </div><br>
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            </form>
            <br>
            <h2>Сменить пароль</h2>
            <form method="POST" class="password_change">
                {% csrf_token %}
                {{ pwd_form|crispy }}
                <input name="pwd" value="1" type="hidden">
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit" name="action">Сменить пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/jquery/autocomplete.min.js' %}"></script>

<script>
$(function(){
    'use strict';
    window.addEventListener('load', function() {
        $("input[name=work_phone]").mask("+7 (999) 999-99-99", {autoclear: true});
        $("input[name=phone]").mask("+7 (999) 999-99-99", {autoclear: true});
        $("input[name=locality]").autoComplete({
            resolverSettings: { url: `/user/regions` }
        });

        let regions = [];
        fetch('/user/regions').then(res => res.json()).then(res => regions = res);

        profileForm.addEventListener('submit', function(event) {
            if (regions.indexOf(id_locality.value) === -1) {
                id_locality.setCustomValidity("провал");
            } else {
                id_locality.setCustomValidity("");
            }

            if (profileForm.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            profileForm.classList.add('was-validated');
        }, false);
    }, false);
});
</script>

{% endblock %}